* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* ! Nav-bar starts here */
nav {
  max-width: 1920px;
}

.gamer-logo-title {
  display: flex;
  align-items: center;
}

.gamer-logo {
  width: 86.041px;
  height: 40px;
}

.gamer-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.pink {
  color: rgb(255, 66, 165, 1);
}

.checkouts {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 38px 0px;
  border: 2px solid;
}
.follow {
  width: 230px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  padding: 0px 24px;
}
.checkouts li {
  list-style: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 32px;
}

.check {
  cursor: pointer;
}
.check:hover {
  color: blue;
}

.youtube,
.tiktok {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  cursor: pointer;
}

/* ! Nav-bar ends */

/* ! Mobile Devices */
@media screen and (max-width: 576px) {
  .nav-container,
  .checkouts {
    flex-direction: column;
    gap: 35px;
  }
}

/* ! Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-container,
  .checkouts {
    flex-direction: column;
    gap: 15px;
  }
}
