* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* ! Nav-bar starts here */
nav {
  /* max-width: 1920px; */
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.gamer-logo-title {
  display: flex;
  align-items: center;
}

.gamer-logo {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}

.gamer-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.pink {
  color: rgb(255, 66, 165, 1);
}

.checkouts {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 38px 0px;
  /* border: 2px solid; */
}
.follow {
  width: 230px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  padding: 0px 24px;
}
.checkouts li {
  list-style: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 32px;
}

.check {
  cursor: pointer;
}
.check:hover {
  color: blue;
}

.youtube,
.tiktok {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  cursor: pointer;
}

/* ! Nav-bar ends */

/* ! Goat starts */
main {
  margin: 0 auto;
}

.goat-container {
  width: 100%;
  height: 700px;
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goat {
  font-size: 5.9rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.goat-container h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.goat-container li {
  list-style: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 17px;
}

.pink-btn,
.blue-btn {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.blue-btn {
  background: #4ec5f7;
  margin-left: 24px;
}
.cartoons-img-container {
  border: 2px solid;
  width: 100%;
  height: 700px;
}

.goat-cartoon-sec {
  display: flex;
  gap: 115px;
}
.cartoon-img {
  width: 100%;
  height: 700px;
}
/* ! Goat ends */

/* ! we are gamer section start */

.colured-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.We-are-gamer-descrip {
  text-align: right;
  margin: 25px 0px;
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  width: 415px;
  /* border: 2px solid; */
}
.we-are-gamer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 240px;
  gap: 60px;
  text-align: right;
}
.we-are-gamer-photo {
  width: 100%;
  height: 420px;
}

.ellipsis {
  width: 135px;
  /* border: 2px solid blue; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: right; */
}
.we-are-gamer-items {
  /* text-align: right; */
  /* border: 2px solid; */
}

.unleash {
  margin-top: 24px;
  display: flex;
  justify-content: right;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
}
.unleash-descrip {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 700;
}

/* ! Mobile Devices */
@media screen and (max-width: 576px) {
  .nav-container,
  .checkouts,
  .we-are-gamer-container {
    flex-direction: column;
    gap: 35px;
    padding: 20px 0px;
  }

  .goat-cartoon-sec {
    flex-direction: column-reverse;
    padding: 20px 0px;
  }
}

/* ! Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-container,
  .checkouts,
  .we-are-gamer-container {
    flex-direction: column;
    gap: 15px;
    padding: 10px 0px;
  }
  .goat-cartoon-sec {
    flex-direction: column-reverse;
  }
}
